In [36]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest

In [37]:
datax = pd.read_csv('C:/Users/vijay niranjan/Desktop/braincancer/brainx.csv')
datay = pd.read_csv('C:/Users/vijay niranjan/Desktop/braincancer/brainy.csv')
combine = [datax, datay]

In [38]:
datax.info()
datay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Columns: 5598 entries, Unnamed: 0 to V5597
dtypes: float64(5597), int64(1)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 2 columns):
Unnamed: 0    42 non-null int64
x             42 non-null int64
dtypes: int64(2)
memory usage: 752.0 bytes

In [39]:
x = datax.iloc[:,0:5598]
y = datay.iloc[:,-1]

In [41]:
datax.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V5588,V5589,V5590,V5591,V5592,V5593,V5594,V5595,V5596,V5597
0,1,-1.656089,-0.381318,-1.656089,0.207946,-1.656089,-1.656089,-0.191292,-1.656089,-1.025594,...,0.041403,-1.656089,1.321003,-0.290197,1.077324,-0.254324,0.350602,-1.656089,-1.465589,-1.061877
1,2,-1.606655,-0.698612,-0.015467,-0.444553,-1.606655,-1.606655,0.243317,-1.606655,0.467513,...,-1.606655,-1.606655,1.082632,-0.994005,1.263932,-1.606655,0.955982,-0.351023,-0.994005,0.057800
2,3,-0.319530,-0.576612,-0.339896,-0.910541,-1.691014,-1.691014,-0.457428,-1.691014,-0.632412,...,-1.691014,-1.691014,1.106929,-0.185803,1.229122,0.337002,0.707217,0.232057,-1.691014,-1.306775
3,4,-0.901120,-0.234217,0.047637,-0.956838,-1.604625,-1.604625,-0.204770,-1.604625,-0.451943,...,-0.922829,-1.604625,1.111803,-0.784369,0.926816,-0.406002,0.578673,0.168820,-1.389162,-1.604625
4,5,-1.403550,0.379086,-1.403550,-1.403550,-1.403550,-1.403550,-1.403550,-1.403550,-1.403550,...,-1.403550,-1.403550,0.465434,-0.724746,-0.529992,-1.403550,0.873073,-0.481269,-1.403550,-1.403550

In [42]:
from numpy import set_printoptions
from sklearn.feature_selection import f_classif

test = SelectKBest(score_func=f_classif, k=10)
fit = test.fit(x, y)

set_printoptions(precision=2)
print(fit.scores_)
features = fit.transform(x)
features = pd.DataFrame(fit.scores_)
featurescolumns = pd.DataFrame(x.columns)
featureScores = pd.concat([featurescolumns,features],axis=1)
featureScores.columns = ['features','Score']  
print(featureScores.nlargest(10,'Score'))

[184.56   1.51   3.33 ...   2.01   3.77   1.54]
        features       Score
0     Unnamed: 0  184.560272
2036       V2036   46.550102
4563       V4563   35.724687
342         V342   35.660498
5259       V5259   33.163097
540         V540   27.605421
3335       V3335   26.239902
3283       V3283   25.815438
4539       V4539   24.092495
4080       V4080   24.043920